/****************************TAG SELECTORS*******************************************************/
body {
  background-color: #506D84;
}


hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #11324D;
  border-width: 10px;
  width: 100%;
}


h1 {
  color: #11324D;
  text-align: center;
}


p {
  color: #BBBBBB;
}


td {
  color: #BBBBBB;
  text-align: center; 
  vertical-align: middle;
}


table {
  margin: auto;
}


form {
  text-align: center; 
  vertical-align: middle;
}


img {
  margin: auto;
}



/****************************CLASS SELECTORS****************************************************/

.content{
  max-width: 500px;
  margin: auto;
}








/****************************ID SELECTORS****************************************************/
